@{
    ViewBag.Title = "Author";
}

<div class="page-header">
    <h1>Redigera författare</h1>
</div>

@using (Html.BeginForm("Book", "Edit"))
{
    <div class="form-group">
        <label for="firstname">Förnamn</label>
        @Html.TextBox("firstname", null, new { @class = "form-control", @id = "firstname" })
    </div>
    <div class="form-group">
        <label for="lastname">Efternamn</label>
        @Html.TextBox("author", null, new { @class = "form-control", @id = "lastname" })
    </div>
    <div class="form-group">
        <label for="birthyear">Födelseår</label>
        @Html.TextBox("birthyear", null, new { @class = "form-control", @id = "birthyear" })
    </div>
    <div class="text-center">
        <input type="submit" class="btn btn-lg btn-primary" value="Bekräfta" style="width: 40%" />
    </div>
}