
@{
    ViewBag.Title = "Edit Book";
}

<div class="page-header">
    <h1>Edit Book</h1>
</div>

@using (Html.BeginForm("Book", "Edit"))
{
    <div class="form-group">
        <label for="title">Titel</label>
        @Html.TextBox("title", null, new { @class = "form-control", @id = "title"})
    </div>
    <div class="form-group">
        <label for="author">Författare</label>
        @Html.DropDownList("author", null, new { @class = "form-control", @id = "author" })
    </div>
}