@model Common.Models.BorrowerViewModel

@{
    ViewBag.Title = "Redigera lånetagare";
    ViewBag.Controller = "Edit";
}

<div class="page-header">
    @if (Model.PersonId != null)
    {
        <h1>Redigera @(Model.LastName), @(Model.FirstName)</h1>
    }
    else
    {
        <h1>Lägg till ny lånetagare</h1>
    }
</div>

@Html.Partial("../Shared/PartialBorrowerForm")