@{
    ViewBag.Title = "Hem";
}

<div class="jumbotron">
    <h1>Bibblan</h1>
    <p class="lead">Världens snyggaste bibbla.</p>
</div>

<div style="margin-top: 16px;" class="col-md-6">
    @Html.ActionLink("Sök efter bok", "Book", "Search", null, new { @class = "btn btn-block btn-lg btn-primary" })
</div>
