@{
    ViewBag.Title = "Widget";
}

<div class="row">
    <div class="col-md-4">
        <div id="bibblan-widget">
            <h3>Bibblan</h3>
            <form>
                <div class="form-group">
                    <label>Sök bok</label>
                    <input class="form-control" type="text" />
                </div>
                <button class="btn btn-block btn-primary"></button>
            </form>
        </div>
    </div>
</div>

