@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bibblan</h1>
    <p class="lead">Världens snyggaste bibbla.</p>
</div>

<div class="row">
    <div class="col-md-6">
        
    </div>
    <div class="col-md-6">
    </div>
</div>