namespace Repository
{
    /// <summary>
    /// Username and password for database login.
    /// DO NOT INCLUDE THIS FILE IN ANY ONLINE REPOSITORY!!!
    /// </summary>
    public class DBCredentials
    {
        public static string Username = "user";
        public static string Password = "pass";
    }
}
