@{
    ViewBag.Title = "AdminPage";
}

<h1>Välkommen @Session["username"]</h1>
<div class="row">
    <div style="margin-top: 16px;" class="col-md-6">
        <a class="btn btn-block btn-lg btn-primary" href="../Search/Book">Redigera bok</a>
    </div>
    <div style="margin-top: 16px;" class="col-md-6">
        <a class="btn btn-block btn-lg btn-primary" href="../Edit/Book">Lägg till bok</a>
    </div>
</div>
<div class="row">
    <div style="margin-top: 16px;" class="col-md-6">
        <a class="btn btn-block btn-lg btn-primary" href="../Search/Author">Redigera författare</a>
    </div>
    <div style="margin-top: 16px;" class="col-md-6">
        <a class="btn btn-block btn-lg btn-primary" href="../Edit/Author">Lägg till författare</a>
    </div>
</div>

<div class="row">
    <div style="margin-top: 16px;" class="col-md-6">
        <a class="btn btn-block btn-lg btn-primary" href="../Search/Borrower">Redigera Låntagare</a>
    </div>
    <div style="margin-top: 16px;" class="col-md-6">
        <a class="btn btn-block btn-lg btn-primary" href="../Edit/Borrower">Lägg till Låntagare</a>
    </div>
</div>