@model Common.Models.BorrowerViewModel
@{
   ViewBag.Title = @Model.FirstName;
}
<h1>@(Model.FirstName + " " + Model.LastName)</h1>
<h2>Mina lån</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Lånad</th>
            <th>Lämna in senast</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var loan in Model.Borrows)
        {
            <tr>
                <td>loan.</td>
            </tr>
        }
    </tbody>
</table>