@model List<Common.Models.Loan>
@{
   ViewBag.Title = "Mina lån";
}

<h2>Mina lån</h2>
<table class="table table-striped">
    <tbody>
        @{
            foreach(Common.Models.Loan item in Model)
          <tr>
            <td></td>
        </tr>  
        }
        
    </tbody>
</table>