@{
   ViewBag.Title = "Mina lån";
}

<h2>Mina lån</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Lånad</th>
            <th>Lämna in senast</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>TEST</td>
        </tr>
    </tbody>
</table>