@model Common.Models.SearchAuthorViewModel
@{
    ViewBag.Title = "Författare";
}

<h1>Sök efter författare</h1>

@using (Html.BeginForm("Author", "Search", FormMethod.Get))
{
    <div class="row">
        <div class="form-group">
            <div class="col-md-6">
                @Html.TextBox("search", "", new
               {
                   @class = "form-control",
                   @id = "input-search",
                   @placeholder = "Författare"
               })
            </div>
            <div class="col-md-6">
                <input type="submit" class="btn btn-block btn-primary" value="Sök" />
            </div>
        </div>
    </div>
}

@if (ViewBag.result != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Efternamn</th>
                <th>Förnamn</th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.result)
            {
                <tr>
                    <td>@item.LastName</td>
                    <td>@item.FirstName</td>
                    <td><a href=@("../edit/author/" + item.Aid) class="btn btn-xs btn-warning">Redigera författare</a></td>
                </tr>
            }
        </tbody>
    </table>
}